<h1>Sign In</h1>

<h4><%= flash[:notice] %></h4>

<%= form_tag(signin_path) do %>
  <%= label_tag :first_name %>
  <%= text_field :first_name %>
  <%= label_tag :last_name %>
  <%= text_field :last_name %>
  <%= submit_tag 'Sign In' %>
<% end %>
