
<h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>

<h4><%= flash[:notice] %></h4>

<%= form_tag(signin_path) do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Sign In' %>
<% end %>
