<h1>hotelfinder<%= image_tag("jing.jpg", size:"28x28") %></h1>
<% if @user.valid? %>
<p>Welcome, <%= @user.first_name %>!</p>
<%= button_to "Sign out", signout_path, method: :delete %>
<% else %>
<%= button_to "Sign In", signin_path, method: :get %>
<%= button_to "Sign Up", new_user_path, method: :get %>
<% end %>
<ul>


 <% @hotels.each do|hotel| %>
  <li><%= link_to hotel.name, hotel %></li><br>
    <li><%= hotel.location %></li><br>
  <li><%= image_tag(hotel.img_url, size:"200x200") %></li><br>
    <li><%= hotel.amenities %></li><br><br>
  <% end %>

</ul>
