<hearder>
<h1>hotelfinder<%= image_tag("jing.jpg", size:"28x28") %></h1>
<% if @user.valid? %>
<p>Welcome, <%= @user.first_name %>!</p>
<div class="sign">
<%= button_to "Sign out", signout_path, method: :delete %>
<% else %>
<%= button_to "Sign In", signin_path, method: :get %>
<%= button_to "Sign Up", new_user_path, method: :get %>
<% end %>
</div>
<ul>
<br>
<main>
<div class="hotel-container">
 <% @hotels.each do|hotel| %>
  <div class="hotel-card">
    <div class="hotel-image-container"><%= image_tag(hotel.img_url, size:"330x280") %></div><br>
    <%= link_to hotel.name, hotel %>
      <blink><strong><%= "GO!" %></strong></blink>
      <p><%= hotel.location %></p>
      <p><%= hotel.amenities %></p>
  </div>
  <% end %>
</ul>
</div>
